$fonts-path: '../fonts/';

@font-face {
  font-family: 'Montserrat';
  src: url("#{$fonts-path}Montserrat.ttf") format('ttf');
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url("#{$fonts-path}Bahnschrift.ttf") format('ttf');
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
}