<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body>
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="/" class="logo">
                    <picture>
                        <img src="<%= require('./img/logo.svg') %>" alt="" title="">
                    </picture>
                </a>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <div class="section section-main">
            <div class="section-bg">
                <picture>
                    <source media="(min-width: 768px)" srcset="<%= require('./img/background_lg.png') %>">

                    <img src="<%= require('./img/background_sm.png') %>" class="section-bg__img" alt="" title="">
                </picture>
            </div>

            <div class="container">
                <div class="main-content">
                    <picture class="main-content__pic">
                        <source media="(min-width: 768px)" srcset="<%= require('./img/aviator_lg.png') %>">
                        <img src="<%= require('./img/aviator_sm.png') %>" alt="" title="">
                    </picture>

                    <p class="main-content__text">Get <span class="text-uppercase">Exclusive Bonus</span> up to 1.3 LAKH!</p>

                    <button type="button" class="btn" data-toggle="modal" data-target="#registration">Play Now</button>
                </div>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">

        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="registrationLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content reg-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>

            <div class="registration">
                <p class="registration__title">Register and<br><span class="registration__title-text">get 4x deposit bonus now!</span></p>

                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Phone</a></li>
                        <li><a href="#tabs-2">Email</a></li>
                    </ul>

                    <div id="tabs-1">
                        <form action="" method="POST" class="form form-phone">
                            <label class="form-group">
                                <input type="tel" id="phone" class="form-control" placeholder=" ">
                                <input type="button" class="form-input-button btn btn-primary" value="send sms">
                            </label>

                            <label class="form-group">
                                <input type="number" class="form-control" placeholder=" ">
                                <span class="form-label">Confirmation code</span>
                                <input type="button" class="form-input-button btn btn-primary" value="confirm">
                            </label>

                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>

                    <div id="tabs-2">
                        <form action="" method="POST" class="form form-email">
                            <div class="row">
                                <div class="col-lg-6 m-lg-0 mb-4">
                                    <fieldset>
                                        <label class="form-group">
                                            <input type="email" class="form-control" placeholder=" ">
                                            <span class="form-label">Email</span>
                                        </label>

                                        <label class="form-group">
                                            <input type="text" class="form-control" placeholder=" ">
                                            <span class="form-label">First name</span>
                                        </label>

                                        <label class="form-group">
                                            <input type="text" class="form-control" placeholder=" ">
                                            <span class="form-label">Surname</span>
                                        </label>
                                    </fieldset>
                                </div>

                                <div class="col-lg-6">
                                    <fieldset>
                                        <label class="form-group">
                                            <button type="button" class="form-button-pass">
                                                <svg>
                                                    <use xlink:href="img/spritemap.svg#sprite-pass-visible"></use>
                                                </svg>
                                            </button>
                                            <input type="password" class="form-control" placeholder=" ">
                                            <span class="form-label">Password</span>
                                        </label>
                                        <label class="form-group">
                                            <input type="password" class="form-control" placeholder=" ">
                                            <span class="form-label">Re-enter your password</span>
                                        </label>
                                    </fieldset>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Register</button>

                            <!--<button type="submit" class="form-submit btn-style"><span>Register & Claim</span></button>-->
                        </form>
                    </div>
                </div>

                <p class="registration__text">By clicking this button you confirm that you have read and agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a> of the company and confirm that you are of legal age</p>
            </div>
        </div>
    </div>
</div>
<!-- BODY END -->
</body>
</html>
